/*MObile styles*/
@media screen and (max-width: 600px) {
  @keyframes suggestionAmination {
    from {
      display: none;
      width: 0%;
    }
    to {
      width: 60%;
      display: block;
    }
  }
  .suggestion-wrapper {
    background: rgb(241, 241, 241);
    position: absolute;
    border-radius: 4px;
    display: none;
    top: 142px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .suggestion-wrapper.drop {
    display: block;

    width: 60%;
    animation-name: suggestionAmination;
    animation-duration: 0.1s;
  }
  .suggestion-list {
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
  }
  .present-txt {
    font-weight: bold;
    background: none;
    outline: none;
  }
  .suggestion-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    cursor: pointer;
    color: rgb(27, 27, 27);
    margin-bottom: 3px;
  }
  .s-icon {
    margin-right: 7px;
  }

  .suggestion-list-item:hover {
    opacity: 0.8;
  }
  .s-artist {
    opacity: 0.5;

    margin-left: 5px;
  }
  .d-r-f-button {
    display: none;
  }
  .form-title {
    font-weight: 400;
    transition: 200ms;
    font-size: 16px;
    border: none;
    min-width: 19rem;
    width: 160%;

    border-radius: 3px;
    padding-left: 3px;
    height: 2rem;
    outline: none;
    border-bottom: none;
    background: none;
    border-bottom: solid 1px rgb(204, 204, 204);
  }

  .form-title:focus .request-form-title {
    background: #e9042a;
  }

  .form-artist {
    transition: 200ms;
    font-size: 16px;
    border: none;

    min-width: 19rem;
    width: 160%;
    height: 2rem;
    outline: none;
    background: none;
    border-radius: 3px;
    border-bottom: solid 1px rgb(204, 204, 204);
    padding-left: 3px;
  }
  .form-artist:focus {
    background-color: rgb(248, 248, 248) !important;
  }
  .form-title:focus {
    background-color: rgb(248, 248, 248) !important;
  }
  .request-form-artist {
    overflow: hidden;
    margin-top: -2px;
    margin-bottom: -2px;

    margin-left: -5px;
    display: flex;
  }
  .request-form-title {
    overflow: hidden;
    margin-bottom: -2px;
    display: flex;
  }
  .r-form-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    border: solid 1.5px rgb(223, 223, 223);
    border-radius: 3px;
    width: 96%;
    padding-top: 5px;
    padding-bottom: 3px;

    background: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .f-t-icon,
  .f-a-icon {
    margin: 8px;
    font-size: 19px;

    color: #e9042a;
  }
  .request-form-button {
    text-align: right;
    padding: 10px;
  }
  .r-f-button {
    transition: 200ms;
    color: aliceblue;
    padding: 7px;
    font-weight: 600;
    border: solid 1.5px #d80024;
    background: #e9042a;
    border-radius: 4px;
    -webkit-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
  }
  .r-f-button:hover {
    background: #d80024;
  }
  .r-f-button:active {
    transform: scale(0.9);
  }
  .f-s-icon {
    font-size: 15px;
  }
}

/*DEsktop styles*/
@media screen and (min-width: 601px) {
  @keyframes suggestionAmination {
    from {
      width: 15rem;
    }
    to {
      width: 31rem;
    }
  }
  .suggestion-wrapper {
    background: rgb(177, 177, 177);
    position: absolute;
    border-radius: 4px;
    display: none;
  }
  .suggestion-wrapper.drop {
    display: block;

    width: 31rem;
    animation-name: suggestionAmination;
    animation-duration: 0.1s;
  }
  .suggestion-list {
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
  }
  .present-txt {
    font-weight: bold;
    background: none;
    outline: none;
  }
  .suggestion-list-item {
    padding: 5px;
    cursor: pointer;
    color: rgb(27, 27, 27);
    margin-bottom: 3px;
  }
  .s-icon {
    margin-right: 7px;
  }
  .suggestion-list-item:hover {
    opacity: 0.8;
  }
  .request-form-button {
    display: none;
  }
  .s-artist {
    float: right;
    opacity: 0.5;
  }
  .r-form-wrapper {
    transition: 200ms;
    background: rgb(231, 231, 231);
    display: flex;
    border: solid 1px rgb(216, 216, 216);
    padding-left: 5px;
    width: 31rem;
    height: 2.6rem;
  }
  .f-t-icon,
  .f-a-icon {
    font-size: 24px;
    color: #e9042a;
    margin-top: 7px;
  }
  .request-form-title {
    display: flex;
  }
  .request-form-artist {
    display: flex;
  }
  .form-artist {
    margin-top: 5px;
    font-size: 16px;
    border: none !important;
    height: 2rem;
    outline: none;
    padding-left: 3px;
    background: none;
  }
  .form-title {
    margin-top: 5px;
    font-size: 16px;
    border: none !important;
    height: 2rem;
    outline: none;
    padding-left: 3px;
    background: none;
  }
  .d-r-f-button {
    padding: 10px;
    margin-top: -20px;
    font-size: 24px;
    height: 5rem;
    width: 50px;
    border-radius: 5px;
    font-weight: 600;
    border: solid 1.5px #d80024;
    background: #e9042a;
    color: aliceblue;
  }

  .d-r-f-button:hover {
    background: #d80024;
  }
  .d-r-f-button:active .d-f-s-icon {
    transform: scale(0.9);
  }
  .request-form {
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    width: 31rem;
  }
}
