form {
  background: #000b2e !important;
}
.signup-form {
  text-align: center;
  margin-top: 100px;
  min-height: 35rem;
}
.error-msg {
  color: red;
  font-size: 13px;
}
.header {
  color: rgb(243, 243, 243);
}
.f-hint {
  color: rgb(155, 155, 155);
}
.login-link {
  color: #7fa9e8;
  cursor: pointer;
}
.login-link:hover {
  text-decoration: underline;
}
.check {
  color: rgb(7, 196, 7);
  font-size: 17px;
}
.times {
  color: rgb(235, 43, 43);
  font-size: 17px;
}
form {
  background: #7c0216;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form label {
  color: #b6b6b6;
}
.form input[type="name"],
input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 16px;
  transition: 400ms;
  border: none;
  outline: none;
  width: 100%;
  border: solid 1px white;
  margin-bottom: 10px;
  border-radius: 4px;
}
.sign-up-btn,
.verification-btn {
  text-align: right;
}
.code-error {
  color: red;
}

form input[type="checkbox"] {
  max-width: 20px;
  font-size: 20px;
  margin-right: 10px;
  margin-left: -25px !important;
}

.t-a-t {
  color: white;
  opacity: 0.3;
}
/* Desktop style */
@media screen and (min-width: 500px) {
  form {
    padding: 50px 50px 50px 50px;
    width: 25rem;
  }
}

/* Mobile style */
@media screen and (max-width: 499px) {
  form {
    padding: 50px 30px 50px 30px;
    width: 100%;
  }
}

/* Mobile background style */
