{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lyriko</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"
    />
  </head>

  <body>
  <noscript>App needs JavaScript to run</noscript>
    <div id="root">
      
    </div>

    <script src="{% static "front_end/main.bundle.js" %}"></script>
    <script src="{% static "front_end/622.bundle.js" %}"></script>
    
  </body>
</html>
