.lyrics {
  background: #000b2e !important;
  border: solid 5px #000a29 !important;
}
.lyrics-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 25px;
}
.lyrics-footer-item {
  font-size: 30px;
  color: red;
}
.loader {
  text-align: center !important;
  margin-top: 70px;
}
.not-found-wrapper {
  color: #e9042a;
  padding: 20px;
  text-align: center;
  opacity: 0.4;
}
.shuffle-wrpper {
  cursor: pointer;
  transition: 200ms;
}
.shuffle-wrpper:hover {
  transform: scale(1.06);
}

.s-txt-wr {
  margin-bottom: 20px;
  font-size: 20px;
}
.random-icon {
  font-size: 100px;
}
@media screen and (max-width: 799px) {
  .lyrics {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    color: rgb(197, 204, 204);
    white-space: pre-line;
    min-height: 20rem;
  }
  .lyrics-artist-wrapper {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  .lyrics-title-wrapper {
    font-size: 23px;
    font-weight: bold;
  }
  .favourite-icon {
    margin-left: 5px;
  }
  .lyrics-text-wrapper {
    display: block;

    padding: 10px;
    text-align: center;
    margin-top: 40px;
    /*  white-space: pre; */
  }
}

@media screen and (min-width: 800px) {
  .lyrics {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: #4d020e;
    border: solid 2px #300008;
    width: 100%;

    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    white-space: pre-line;
    min-height: 30rem;
    color: rgb(197, 204, 204);
  }
  .lyrics-artist-wrapper {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  .lyrics-title-wrapper {
    font-size: 23px;
    font-weight: bold;
  }
  .favourite-icon {
    margin-left: 5px;
  }
  .lyrics-text-wrapper {
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    /*  white-space: pre; */
  }
}
