.account-set-container {
  min-height: 76vh;
  background: #00071a;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.header-container {
  color: #7fa9e8;
}

.account-set-main {
  background: #000a25;
  border-radius: 5px;
  width: 100%;
  min-height: 30rem;
  transition: 200ms;
}
.account-set-list {
  color: rgb(189, 189, 189);
  list-style: none;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}
.account-set-list-item {
  max-width: 55rem;
  display: grid;
  padding: 10px;

  grid-template-columns: repeat(2, auto);
  border-radius: 5px;
  border: solid 1px #00081d;
  margin-bottom: 4px;
}

.account-set-list-item:hover {
  background: #00071a;
  color: aliceblue;
}

.main-wa {
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.empty-text {
  height: 40rem;
  text-align: center;
  top: 40px !important;
  padding-top: 20rem;
  font-size: 30px !important;
}

.ava-wrap {
  text-align: center;
}
.user--icon {
  margin-top: 20px;
  color: #7fa9e8 !important;
  border: solid 3px #7fa9e8;
  font-size: 150px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 7px;
}

.name {
  color: aliceblue;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
}
.details > div {
  padding: 5px 0px 5px 15px;
  border-top: solid 2px #19001f;
  border-bottom: solid 2px #19001f;
  padding-top: 20px;
  font-size: 17px;
  color: rgb(172, 172, 172);
  border-radius: 2px;
}
.email-details {
  border-bottom: none !important;
}

.e-i-w {
  float: left;
  width: 30px;
  padding-left: 5px;
}

.e-input {
  width: 75%;
  display: inline-block;
}

.editing {
  padding-top: 4px;
  border: solid 1px #001a63;
  height: 36px;
  border-radius: 4px;
  width: 97%;
  margin-bottom: 15px;
}

.editing-input {
  background: none !important;
  outline: none !important;
  border: none !important;
  color: aliceblue;
}
.editing-name-wr {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0px;
  border: solid 1px #001a63;
  height: 36px;
  border-radius: 4px;
  padding-top: 4px;
}
.editing-name-wr > div {
  width: 100% !important;
  padding-left: 5px;
}
.editing-name {
  width: 100% !important;
  background: none;
  outline: none;
  border: none;
  color: aliceblue;
  text-align: center;
}

.top-right-acct {
  float: right;
  padding-top: 10px;
  color: aqua;
  font-size: 20px;
  margin-right: 5px;
  font-weight: 500;
}

.top-right-acct > span {
  cursor: pointer;
}

.acc-loader {
  display: inline;
  margin-left: 5px;
}
.acct-title {
  display: inline;
}

.r-va {
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) {
  .editing-name-wr {
    width: 60%;
    margin-left: 20%;
  }
}
