.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  color: none;
}

.resent-area {
  color: rgb(156, 156, 156) !important;
}
.r-link {
  color: rgb(0, 78, 124);
  cursor: pointer;
}
.r-link:hover {
  text-decoration: underline;
}
body {
  font-family: Roboto, Verdana, sans-serif;
  background: #00020d !important;
}

.btn {
  color: aliceblue !important;
}
._alert_not_verified {
  background: rgb(255, 108, 108);
  padding: 15px 15px 5px 15px;
  margin-bottom: 15px;
  border: solid 2px rgb(255, 96, 96);
  border-radius: 5px;
  color: rgb(182, 0, 0);
}
.vlink {
  color: rgb(182, 0, 0) !important;
  text-decoration: underline !important;
}
.vlink:hover {
  color: rgb(173, 38, 38) !important;
}
.middle {
  padding: 20px;
  min-height: 90rem !important;
}
@media screen and (min-width: 1110px) {
  .middle {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
@media screen and (min-width: 800px) {
  .middle {
    padding: 50px;
    min-height: 61vh !important;
  }
  .main {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 20px;
  }
  .m-l-wrapper {
    margin-top: 12px;
    border-radius: 4px;
    grid-column: 1;
    grid-row: 1 / 5;
  }
  .m-t-wrapper {
    margin-top: 12px;
    border-radius: 4px;
  }
  .m-r-wrapper {
    margin-top: 12px;
    border-radius: 4px;
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 799px) {
  .middle {
    min-height: 96vh !important;
  }
  .main {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
