/* -------------------INDEX STYLE----------------- */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ffe115;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1b500;
}
.loader {
    text-align: center !important;
    margin-top: 70px !important;
}
/*----------------INDEX STYLES END----------------------------------------*/
/*======================================================================*/

/*-----------------APP STYLES----------------------------------------*/

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    color: none;
}

.resent-area {
    color: rgb(156, 156, 156) !important;
}
.r-link {
    color: rgb(0, 78, 124);
    cursor: pointer;
}
.r-link:hover {
    text-decoration: underline;
}
body {
    font-family: Roboto, Verdana, sans-serif;
    background: #00020d !important;
}

.btn {
    color: aliceblue !important;
}
._alert_not_verified {
    background: rgb(255, 108, 108);
    padding: 15px 15px 5px 15px;
    margin-bottom: 15px;
    border: solid 2px rgb(255, 96, 96);
    border-radius: 5px;
    color: rgb(182, 0, 0);
}
.vlink {
    color: rgb(182, 0, 0) !important;
    text-decoration: underline !important;
}
.vlink:hover {
    color: rgb(173, 38, 38) !important;
}
.middle {
    padding: 20px;
    min-height: 90rem !important;
}
@media screen and (min-width: 1110px) {
    .middle {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}
@media screen and (min-width: 800px) {
    .middle {
        padding: 50px;
        min-height: 61vh !important;
    }
    .main {
        width: 100%;
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);

        grid-gap: 20px;
    }
    .m-l-wrapper {
        margin-top: 12px;
        border-radius: 4px;
        grid-column: 1;
        grid-row: 1 / 5;
    }
    .m-t-wrapper {
        margin-top: 12px;
        border-radius: 4px;
    }
    .m-r-wrapper {
        margin-top: 12px;
        border-radius: 4px;
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 799px) {
    .middle {
        min-height: 96vh !important;
    }
    .main {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}

/*------------------APP STYLES END----------------------------------------*/
/*=======================================================================*/

/*===========COMPONENTS STYLES START=====================================*/
/*------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------/

/*------------FORMS STYLES SRART-------------------------------------------*/

form {
    background: #000b2e !important;
}
.signup-form {
    text-align: center;
    margin-top: 100px;
    min-height: 50rem;
}
.error-msg {
    color: red;
    font-size: 13px;
}
.header {
    color: rgb(243, 243, 243);
}
.f-hint {
    color: rgb(155, 155, 155);
}
.login-link {
    color: #7fa9e8;
    cursor: pointer;
}
.login-link:hover {
    text-decoration: underline;
}
.check {
    color: rgb(7, 196, 7);
    font-size: 17px;
}
.times {
    color: rgb(235, 43, 43);
    font-size: 17px;
}
form {
    background: #7c0216;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form label {
    color: #b6b6b6;
}
.form input[type="name"],
input[type="email"],
input[type="password"],
input[type="text"] {
    font-size: 16px;
    transition: 400ms;
    border: none;
    outline: none;
    width: 100%;
    border: solid 1px white;
    margin-bottom: 10px;
    border-radius: 4px;
}
.sign-up-btn,
.verification-btn {
    text-align: right;
}
.code-error {
    color: red;
}

form input[type="checkbox"] {
    max-width: 20px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: -25px !important;
}

.t-a-t {
    color: white;
    opacity: 0.3;
}
/* Desktop style */
@media screen and (min-width: 500px) {
    form {
        padding: 50px 50px 50px 50px;
        width: 25rem;
    }
}

/* Mobile style */
@media screen and (max-width: 499px) {
    form {
        padding: 50px 30px 50px 30px;
        width: 100%;
    }
}

/*------------FORMS STYLES END-------------------------------------------*/
/*=======================================================================*/

/*------------REQUEST FORMS STYLES SRART---------------------------------*/

/*MObile styles*/
@media screen and (max-width: 600px) {
    @keyframes suggestionAmination {
        from {
            display: none;
            width: 0%;
        }
        to {
            width: 60%;
            display: block;
        }
    }
    .suggestion-wrapper {
        background: rgb(241, 241, 241);
        position: absolute;
        border-radius: 4px;
        display: none;
        top: 142px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .suggestion-wrapper.drop {
        display: block;

        width: 60%;
        animation-name: suggestionAmination;
        animation-duration: 0.1s;
    }
    .suggestion-list {
        list-style: none;
        padding: 10px;
        margin-top: 15px;
        font-size: 16px;
    }
    .present-txt {
        font-weight: bold;
        background: none;
        outline: none;
    }
    .suggestion-list-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
        cursor: pointer;
        color: rgb(27, 27, 27);
        margin-bottom: 3px;
    }
    .s-icon {
        margin-right: 7px;
    }

    .suggestion-list-item:hover {
        opacity: 0.8;
    }
    .s-artist {
        opacity: 0.5;

        margin-left: 5px;
    }
    .d-r-f-button {
        display: none;
    }
    .form-title {
        font-weight: 400;
        transition: 200ms;
        font-size: 16px;
        border: none !important;
        min-width: 19rem;
        width: 160%;

        border-radius: 3px;
        padding-left: 3px;
        height: 2rem;
        outline: none;
        border-bottom: none;
        background: none;
        border-bottom: solid 1px rgb(204, 204, 204);
    }

    .form-title:focus .request-form-title {
        background: #e9042a;
    }

    .form-artist {
        transition: 200ms;
        font-size: 16px;
        border: none !important;

        min-width: 19rem;
        width: 160%;
        height: 2rem;
        outline: none;
        background: none;
        border-radius: 3px;
        border-bottom: solid 1px rgb(204, 204, 204);
        padding-left: 3px;
    }
    .form-artist:focus {
        background-color: rgb(248, 248, 248) !important;
    }
    .form-title:focus {
        background-color: rgb(248, 248, 248) !important;
    }
    .request-form-artist {
        overflow: hidden;
        margin-top: -2px;
        margin-bottom: -2px;

        margin-left: -5px;
        display: flex;
    }
    .request-form-title {
        overflow: hidden;
        margin-bottom: -2px;
        display: flex;
    }
    .r-form-wrapper {
        overflow: hidden;
        margin-bottom: 10px;
        border: solid 1.5px rgb(223, 223, 223);
        border-radius: 3px;
        width: 90%;
        padding-top: 5px;
        padding-bottom: 3px;

        background: rgb(241, 241, 241);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
            rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    .f-t-icon,
    .f-a-icon {
        margin: 8px;
        font-size: 19px;

        color: #e9042a;
    }
    .request-form-button {
        text-align: right;
        padding: 10px;
    }
    .r-f-button {
        transition: 200ms;
        color: aliceblue;
        padding: 7px;
        font-weight: 600;
        border: solid 1.5px #d80024;
        background: #e9042a;
        border-radius: 4px;
        -webkit-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.75);
    }
    .r-f-button:hover {
        background: #d80024;
    }
    .r-f-button:active {
        transform: scale(0.9);
    }
    .f-s-icon {
        font-size: 15px;
    }
}

/*DEsktop styles*/
@media screen and (min-width: 601px) {
    @keyframes suggestionAmination {
        from {
            width: 15rem;
        }
        to {
            width: 31rem;
        }
    }
    .suggestion-wrapper {
        background: rgb(177, 177, 177);
        position: absolute;
        border-radius: 4px;
        display: none;
    }
    .suggestion-wrapper.drop {
        display: block;

        width: 31rem;
        animation-name: suggestionAmination;
        animation-duration: 0.1s;
    }
    .suggestion-list {
        list-style: none;
        padding: 10px;
        margin-top: 15px;
        font-size: 16px;
    }
    .present-txt {
        font-weight: bold;
        background: none;
        outline: none;
    }
    .suggestion-list-item {
        padding: 5px;
        cursor: pointer;
        color: rgb(27, 27, 27);
        margin-bottom: 3px;
    }
    .s-icon {
        margin-right: 7px;
    }
    .suggestion-list-item:hover {
        opacity: 0.8;
    }
    .request-form-button {
        display: none;
    }
    .s-artist {
        float: right;
        opacity: 0.5;
    }
    .r-form-wrapper {
        transition: 200ms;
        background: rgb(231, 231, 231);
        display: flex;
        border: solid 1px rgb(216, 216, 216);
        padding-left: 5px;
        width: 31rem;
        height: 2.6rem;
    }
    .f-t-icon,
    .f-a-icon {
        font-size: 24px;
        color: #e9042a;
        margin-top: 7px;
    }
    .request-form-title {
        display: flex;
    }
    .request-form-artist {
        display: flex;
    }
    .form-artist {
        margin-top: 5px;
        font-size: 16px;
        border: none !important;
        height: 2rem;
        outline: none;
        padding-left: 3px;
        background: none;
    }
    .form-title {
        margin-top: 5px;
        font-size: 16px;
        border: none !important;
        height: 2rem;
        outline: none;
        padding-left: 3px;
        background: none;
    }
    .d-r-f-button {
        padding: 10px;
        margin-top: -20px;
        font-size: 24px;
        height: 5rem;
        width: 50px;
        border-radius: 5px;
        font-weight: 600;
        border: solid 1.5px #d80024;
        background: #e9042a;
        color: aliceblue;
    }

    .d-r-f-button:hover {
        background: #d80024;
    }
    .d-r-f-button:active .d-f-s-icon {
        transform: scale(0.9);
    }
    .request-form {
        overflow: hidden;
        margin-bottom: 50px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
            rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

        width: 31rem;
    }
}

/*------------REQUEST FORM STYLES END-------------------------------------------*/
/*=============================================================================*/

/*------------------RECENT STYLES START--------------------------------------*/

.recent-header-wrapper {
    background: #ffe115 !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px -2px;
    color: red;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17x;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.recent {
    background: #000b2e !important;

    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    min-height: 30rem;
}
.title-icon {
    margin-right: 10px;
}

.r-list {
    color: rgb(189, 189, 189);
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.r-list-item {
    max-width: 25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}
.r-list-item-wrapper:hover {
    background: #00081f;
    color: aliceblue;
}

.r-list-item-wrapper {
    border: solid 1px #00081d;
    margin-bottom: 4px;
    border-radius: 5px;
}

.r-l-i {
    margin-right: 5px;
}

.r-l-a {
    margin-left: 5px;
    opacity: 0.5;
}
.r-l-i {
    color: #ffe115;
}

/*------------RECENT STYLES END-------------------------------------------*/
/*=========================================================================*/

/*-------------NAVIGATION STYLES START--------------------------------------*/

@keyframes sub-menu-animation {
    from {
        height: 0rem;
    }
    to {
        height: 5rem;
    }
}
.sub-acct-menu {
    background: #352266 !important;
    color: rgb(204, 204, 204);
    top: 50px;
    position: absolute;
    padding: 2px;
    width: 12rem;
    border-radius: 3px;
    display: none;
    animation-name: sub-menu-animation;
    animation-duration: 200ms;
    overflow: hidden;
}

.sub-acct-menu ul {
    list-style: none;
}
.nav-account-icon,
.nav-account-item {
    color: #dfdfdf !important;
}

.sub-acct-menu li {
    cursor: pointer;
    margin-left: -33px;
    margin-bottom: 2px;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 2px;
}
.sub-acct-menu li:hover {
    background: #2a1953 !important;
}

.nav-account:hover .sub-acct-menu {
    display: block;
}

.main-nav {
    color: #e9042a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    background: #180f30 !important;

    border-bottom: solid 2px #e9042a;
}
.nav-wrapper {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 5px;
}
.brand-name-nav {
    font-weight: bold;
    transform: scale(1.1);
    vertical-align: middle;

    display: inline-block;
}
.brand-wrapper {
    height: 50px;
    cursor: pointer;
}
.brand-wrapper:hover {
    opacity: 0.8;
}
.brand-img {
    width: 50px;
    height: 50px;
}
.mobile-menu {
    display: none;
}

.menu-bars {
    display: none;
}
.nav-account-item {
    font-size: 18px !important;
    cursor: pointer;
}
.nav-account {
    margin-left: 25px;
    border: solid 2px #ad011d;
    padding: 8px 20px 13px 23px;
    border-radius: 50px;
    background: #e9042a;
}

.nav-account-icon {
    font-size: 10px;
    transform: scale(4);
    margin-right: 18px;
}

.nav-links {
    transform: scale(0.8) !important;
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;

    margin-bottom: 0px !important;
}

.nav-link {
    transition: 200ms;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-link-item {
    color: #ffe115 !important;
}

.nav-link:hover .nav-link-item {
    color: #ddc000 !important;
    transform: scale(2.5) !important;
}

.nav-link-icon {
    margin-right: 7px;

    transform: scale(1.4) !important;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile styles */
@media screen and (max-width: 809px) {
    @keyframes open-mobile-menu-animation {
        from {
            height: 0px;
            display: none;
        }
        to {
            height: 300px;
            display: block;
        }
    }
    @keyframes close-mobile-menu-animation {
        from {
            height: 300px !important;
            display: block !important;
        }
        to {
            height: 0px;
            display: none;
        }
    }
    @keyframes close-nav-link-mobile {
        from {
            font-size: 18px;
            opacity: 1;
        }
        to {
            font-size: 10px;
            opacity: 0;
        }
    }
    @keyframes open-nav-link-mobile {
        from {
            font-size: 10px;
        }
        to {
            font-size: 18px;
        }
    }
    .divider {
        border: solid 1px rgb(53, 53, 53);
    }
    .nav-link {
        display: none !important;
    }
    .nav-account {
        display: none !important;
    }
    .nav-account-mobile {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .nav-account-mobile:hover {
        color: rgb(180, 180, 180);
    }
    .nav-account-item-mobile {
        margin-left: 1rem;
        font-size: 15px;
    }
    .nav-account-icon-mobile {
        margin-right: 7px;
        transform: scale(1.6);
    }
    .nav-link-item-mobile {
        cursor: pointer;
    }
    .mobile-menu {
        margin-left: 0px;
        margin-top: -2px;
        position: absolute;
        background: #180f30;
        height: 300px;
        text-align: left;
        padding-bottom: 2rem;
        width: 100%;
        text-decoration: none !important;
        color: rgb(211, 211, 211);
        border-bottom: solid 3px #ffe115;
    }
    .mobile-menu.open {
        display: block !important;
        animation-name: open-mobile-menu-animation;
        animation-duration: 0.2s;
    }

    .mobile-menu.close {
        animation-name: close-mobile-menu-animation;
        animation-duration: 0.5s;
    }

    .nav-links-mobile {
        padding-top: 2rem;
        font-size: 18px;
        list-style: none;
        margin-top: 20px;
        padding: 0px;
    }

    .nav-links-mobile.open {
        animation-name: open-nav-link-mobile;
        animation-duration: 0.2s;
    }
    .nav-links-mobile.close {
        opacity: 0;
        font-size: 15px;
        animation-name: close-nav-link-mobile;
        animation-duration: 0.2s;
    }

    .nav-link-mobile {
        border-top: solid 1px rgb(15, 15, 15);
        margin: 0px;
        display: inline-block;
        width: 100%;
        transition: 200ms;
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-box-shadow: inset 0px 0px 14px 5px #1d103f;
        -moz-box-shadow: inset 0px 0px 14px 5px #1d103f;
        box-shadow: inset 0px 0px 14px 5px #1d103f;
    }
    .bottom {
        border-bottom: solid 1px #1d103f;
    }
    .nav-link-mobile:hover {
        background: #180d33;

        color: white;
    }
    .nav-link-icon-mobile {
        margin-left: 16px;
        margin-right: 7px;
        transform: scale(1.4);
    }

    .menu-bars {
        transform: scale(0.9);
        display: inline-block;
        margin-left: 100px;
        width: 50px;
        border-radius: 5px;
        border: solid 3px rgb(34, 34, 34);
        padding: 1px 12px 1px 7px;
        cursor: pointer;
        display: block;
        font-size: 25px;
        text-align: right;
        margin-right: 10px;
        background-color: rgb(17, 17, 17);
    }
    .main-nav {
        padding: 0px;
        margin-bottom: -1%;
    }
}

@media screen and (min-width: 810px) {
    .mobile-menu {
        display: none;
    }
}

/*------------NAVIGATION STYLES END---------------------------------------*/
/*=========================================================================*/

/*----------------LYRICS STYLES START-----------------------------------*/
.lyrics {
    background: #000b2e !important;
    border: solid 5px #000a29 !important;
}
.lyrics-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin: 25px;
}
.lyrics-footer-item {
    font-size: 30px;
    color: red;
}
.loader {
    text-align: center !important;
    margin-top: 70px;
}
.not-found-wrapper {
    color: #e9042a;
    padding: 20px;
    text-align: center;
    opacity: 0.4;
}
.shuffle-wrpper {
    cursor: pointer;
    transition: 200ms;
}
.shuffle-wrpper:hover {
    transform: scale(1.06);
}

.s-txt-wr {
    margin-bottom: 20px;
    font-size: 20px;
}
.random-icon {
    font-size: 100px;
}
@media screen and (max-width: 799px) {
    .lyrics {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
        padding: 20px;
        color: rgb(197, 204, 204);
        white-space: pre-line;
        min-height: 20rem;
    }
    .lyrics-artist-wrapper {
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }
    .lyrics-title-wrapper {
        font-size: 23px;
        font-weight: bold;
    }
    .favourite-icon {
        margin-left: 5px;
    }
    .lyrics-text-wrapper {
        display: block;

        padding: 10px;
        text-align: center;
        margin-top: 40px;
        /*  white-space: pre; */
    }
}

@media screen and (min-width: 800px) {
    .lyrics {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        background: #4d020e;
        border: solid 2px #300008;
        width: 100%;

        border-radius: 5px;
        margin-top: 10px;
        padding: 20px;
        white-space: pre-line;
        min-height: 30rem;
        color: rgb(197, 204, 204);
    }
    .lyrics-artist-wrapper {
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }
    .lyrics-title-wrapper {
        font-size: 23px;
        font-weight: bold;
    }
    .favourite-icon {
        margin-left: 5px;
    }
    .lyrics-text-wrapper {
        display: block;
        padding: 10px;
        text-align: center;
        margin-top: 40px;
        /*  white-space: pre; */
    }
}
/*----------------------   END------------------*/
/*---------------------LYRICS1 STYLES START----------------*/
.Lyrics1 {
    background: #000b2e !important;
    border: solid 5px #000a29 !important;
}
.l-line {
    border: solid 0.1pc #00071a;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 15px;
}
.Lyrics1-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin: 25px;
}
.Lyrics1-main {
    width: 100% !important;
    text-align: center !important;
}
.Lyrics1-footer-item {
    font-size: 30px;
    color: red;
}
.loader {
    text-align: center !important;
    margin-top: 70px;
}
.not-found-wrapper {
    color: #e9042a;
    padding: 20px;
    text-align: center;
    opacity: 0.4;
}
.shuffle-wrpper {
    cursor: pointer;
    transition: 200ms;
}
.shuffle-wrpper:hover {
    transform: scale(1.06);
}

.s-txt-wr {
    margin-bottom: 20px;
    font-size: 20px;
}
.random-icon {
    font-size: 100px;
}
@media screen and (max-width: 799px) {
    .Lyrics1 {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
        color: rgb(197, 204, 204);
        white-space: pre-line;
        min-height: 20rem;
    }
    .Lyrics1-artist-wrapper {
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }
    .Lyrics1-title-wrapper {
        font-size: 23px;
        font-weight: bold;
    }
    .favourite-icon {
        margin-left: 5px;
    }
    .Lyrics1-text-wrapper {
        display: block;

        padding: 10px;
        text-align: center;
        margin-top: 40px;
        /*  white-space: pre; */
    }
}

@media screen and (min-width: 800px) {
    .Lyrics1 {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        background: #4d020e;
        border: solid 2px #300008;
        width: 100% !important;
        max-width: 45rem;
        border-radius: 5px;
        margin-top: 10px;
        white-space: pre-line;
        min-height: 30rem;
        color: rgb(197, 204, 204);
        display: inline-block;
    }
    .Lyrics1-artist-wrapper {
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }
    .Lyrics1-title-wrapper {
        font-size: 23px;
        font-weight: bold;
    }
    .favourite-icon {
        margin-left: 5px;
    }
    .Lyrics1-text-wrapper {
        display: block;
        padding: 10px;
        text-align: center;
        margin-top: 40px;
        /*  white-space: pre; */
    }
}

/*----------------LYRICS1 STYLES END---------------------*/
/*=======================================================*/

/*-------------------HISTORY STYLES START-----------------*/

.history-container {
    min-height: 76vh;
    background: #00071a;
    padding: 10px;
    border-radius: 5px;
}
.header-container {
    color: #7fa9e8;
}
.loader {
    text-align: center !important;
    margin-top: 100px !important;
}

.history-main {
    background: #000a25;
    border-radius: 5px;
    width: 100%;
    min-height: 30rem;
}
.history-list {
    color: rgb(189, 189, 189);
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}
.history-list-item {
    max-width: 55rem;

    display: grid;
    padding: 10px;

    grid-template-columns: repeat(2, auto);
    border-radius: 5px;
    border: solid 1px #00081d;
    margin-bottom: 4px;
}

.history-list-item:hover {
    background: #00071a;
    color: aliceblue;
}
.t-l-i {
    margin-right: 5px;
    color: #ffe115;
}
.t-l-a {
    margin-left: 5px;
    opacity: 1;
    color: #7a7a7a;
}
.de-ic {
    color: #7fa9e8;
    cursor: pointer;
    font-size: 20px;
    transition: 100ms;
}
.de-ic:hover {
    color: red;
    transform: scale(1.2);
}

.icon-wr {
    text-align: right;
    width: 100%;
    padding-right: 7px;
    min-width: 2rem;
}

.main-wa {
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.empty-text {
    height: 40rem;
    text-align: center;
    top: 40px !important;
    padding-top: 20rem;
    font-size: 30px !important;
}

/*-------------------HISTORY STYLES END--------------*/
/*===================================================*/

/*----------------------FOOTER STYLES START---------------*/

.footer {
    position: top;
}

.abt-brd-wrap {
    margin-bottom: 20px;
}
.brand-logo {
    width: 60px;
    height: 60px;
}
.brand-name {
    font-weight: bold;
    transform: scale(1.2);

    padding-bottom: 17px;

    display: inline-block;
}
@media screen and (min-width: 660px) {
    .copyright,
    .maker {
        margin-top: 35px;
        font-size: 13px;
        color: rgb(141, 141, 141);
    }
    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 0px;
    }

    .main-footer {
        padding: 20px;
        align-items: center;
        padding-top: 15px;
        color: rgb(167, 167, 167);
        white-space: pre;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(25, 25, 25, 1) 44%,
            rgba(19, 19, 19, 1) 100%
        );
        height: 40rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 0px;
        padding: 10%;
    }
    .about-text {
        margin-bottom: 10px;
    }
    .about-txt {
        margin-bottom: 30px;

        margin-top: -25px;
    }
    .useful-link-txt {
        padding: 10px;
        margin-bottom: 10px;
        color: red;
        background: #ffe115 !important;
    }

    .about-brand {
        width: 40%;
    }

    .useful-links {
        width: 100%;
    }
}
.footer-links-wrapper {
    width: 90%;
}
.footer-link {
    list-style: none;
}

.footer-link-item {
    transition: 200ms;
    padding: 10px;
    cursor: pointer;
}
a {
    color: rgb(184, 184, 184) !important;
}
a:hover {
    color: rgb(231, 231, 231) !important;
}
.footer-link-icon {
    margin-right: 5px;
}
.abt-txt-rdmr {
    color: #7fa9e8;
}

@media screen and (max-width: 659px) {
    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
    }
    .copyright,
    .maker {
        margin-top: 35px;
        font-size: 13px;
        color: rgb(141, 141, 141);

        justify-items: left;
    }
    .main-footer {
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(25, 25, 25, 1) 44%,
            rgba(19, 19, 19, 1) 100%
        );

        display: grid;
        grid-template-columns: repeat(1, 1);
        grid-gap: 50px;
        text-align: center;
        justify-items: center;
        color: rgb(167, 167, 167);
        padding-bottom: 30px;
    }
    .useful-link-txt {
        padding: 10px;
        margin-bottom: 10px;
        color: red;
        text-align: center;
        background: #ffe115 !important;
    }
    .about-brand {
        width: 90%;
        font-size: 15px;
    }

    .useful-links {
        width: 90%;

        text-align: left;
    }
}

/*-------------------FOOTER STYLES END--------------*/
/*===================================================*/

/*----------------TRENDING STYLES START-------------*/

.trending-header-wrapper {
    background: #ffe115 !important;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px -2px;
    color: red;
    padding: 15px;

    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.trending {
    background: #000b2e !important;

    border-radius: 5px;
    margin-top: 10px;
    min-height: 30rem;
}
.title-icon {
    margin-right: 10px;
}
.t-list {
    color: rgb(189, 189, 189);
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.t-list-item {
    max-width: 25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 200ms;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}
.t-list-item-wrapper:hover {
    background: #00081f;
    color: aliceblue;
}
.t-list-item-wrapper {
    border: solid 1px #00081d;
    margin-bottom: 4px;
    border-radius: 5px;
}

.t-l-i {
    margin-right: 5px;
}

.t-l-a {
    margin-left: 5px;
    opacity: 0.5;
}

/*-------------------TRENDING STYLES END--------------*/
/*===================================================*/

/*-------------------WATCHLIST STYLES START----------*/

.watchlist-container {
    min-height: 76vh;
    background: #00071a;
    padding: 10px;
    border-radius: 5px;
}
.header-container {
    color: #7fa9e8;
}

.watchlist-main {
    background: #000a25;
    border-radius: 5px;
    width: 100%;
    min-height: 30rem;
}
.watchlist-list {
    color: rgb(189, 189, 189);
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}
.watchlist-list-item {
    max-width: 55rem;
    display: grid;
    padding: 10px;

    grid-template-columns: repeat(2, auto);
    border-radius: 5px;
    border: solid 1px #00081d;
    margin-bottom: 4px;
}

.watchlist-list-item:hover {
    background: #00071a;
    color: aliceblue;
}
.t-l-i {
    margin-right: 5px;
    color: #ffe115;
}

.de-ic {
    color: #7fa9e8;
    cursor: pointer;
    font-size: 20px;
    transition: 100ms;
}
.de-ic:hover {
    color: red;
    transform: scale(1.2);
}

.icon-wr {
    text-align: right;
    width: 100%;
    padding-right: 7px;
    min-width: 2rem;
}

.main-wa {
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.empty-text {
    height: 40rem;
    text-align: center;
    top: 40px !important;
    padding-top: 20rem;
    font-size: 30px !important;
}

.t-l-a {
    margin-left: 5px;
    opacity: 1;
    color: #7a7a7a;
}

/*-------------------WATCHLIST STYLES END--------------*/
/*===================================================*/
